<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <nav>
            <a href="/blog">Main Blog Page</a> |
            <a href="/newpost">Add a Blog Entry</a>
        </nav>

        <style>
                .error {
                    color: red;
                }
        </style>
    </head>
<body>
    {% with messages = get_flashed_messages() %}
        <ul>
        {% for messages in messages %}
            <li>{{messages}}</li>
        {% endfor %}
        </ul>
    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>