<!doctype html>
<html>
    <head>
        <nav>
            <a href="/blog">Main Blog Page</a> |
            <a href="/newpost">Add a Blog Entry</a>
        </nav>
        <style>
            .error { color: red; }
        </style>
    </head>
    <body>

    <h1 align="center">Add a Blog Entry</h1>
    <form action='/newpost' method = 'post'>
    <div>
        <label for="title">Title for your new blog:</div>
    <div>
            <input type="text" name='title' value='{{title}}'/>
            <p class="error">{{title_error}}</p>
        </label>
    </div>
        <br>
    </div>
        <label for="body">
            Your new blog:
    <div>
            <textarea name='body'rows="10" cols="30" value='{{body}}' >
            </textarea>
            <p class="error">{{body_error}}</p>
    </div>
        </label>
    <div>
            <input type="submit" value='Post' />
    </div>

    </form>
    </body>
</html>